<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @order.province %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @order.postalcode %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @order.phonenumber %>
</p>

<p>
  <strong>Size:</strong>
  <%= @order.size %>
</p>

<p>
  <strong>Crust:</strong>
  <%= @order.crust %>
</p>

<p>
  <strong>Toppings:</strong>
  <%= @order.toppings %>
</p>

<p>
  <strong>Numberofpizza:</strong>
  <%= @order.numberofpizza %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
